.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
    font-family: 'Montserrat Alternates', sans-serif;
    
}

body {
  background: rgb(247, 247, 247);
}
.App h1 {
  margin-top: 10px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
}

.App ul {
  display: flex;
  text-align: center;
  color: #000;
}

.App ul > li {
  padding: 20px;
  font-size: medium;
  list-style: none;
  text-align: center;
  align-items: center;
  letter-spacing: 3px;
}

.App a {
  text-decoration: none;
  color: #000;
}

.App a:hover {
  font-size: larger;
  font-weight: bolder;
  transition: .3s;
  color: rgb(31, 31, 31);
}

.modal-content {
  height: 100px;
}

.modal-content {
  height: 100px;
}

.modal-content input {
  text-align: left; 
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  border: 5px solid transparent;
  height: 20px;
  width: 440px;
  letter-spacing: 1px;

  :focus{
      border: 2px solid #000;
      border-radius: 4px;
  }
}

.modal-content input:focus {
  transition: .4s;
  text-shadow: none; /* Remove text shadow on focus */
}

.modal-content p {
  margin-top: 10px;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 20px;
  color: rgb(43, 43, 43);
  text-shadow: -1px 4px 2px rgba(143, 143, 143, 0.67);
}

.modal-delete p {

  font-style: italic;
  letter-spacing: 3px;
  font-size: 20px;
  color: rgb(43, 43, 43);
  text-shadow: -1px 4px 2px rgba(143, 143, 143, 0.67);
}


